<?xml version="1.0" encoding="UTF-8" ?>
<beans  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="beans_rules.xsd">
    <bean id="authorization" class="model.implementetion.services.Authorization"/>

    <bean id="productManager" class="model.implementetion.services.ProductManager"/>

    <bean id="busket" class="model.implementetion.services.Busket">
        <property name="authorization" ref ="authorization"/>
        <property name="productManager" ref ="productManager" />
    </bean>

    <bean id="customerManager" class="model.implementetion.services.CustomerManager"/>

    <bean id="orderManager"
          class="model.implementetion.services.OrderManager">
        <property name="busket" ref="busket"/>
    </bean>

    <bean id="recomandations" class="model.implementetion.services.Recomandations">
        <property name="authorization" ref ="authorization"/>
        <property name="productManager" ref ="productManager"/>
    </bean>

</beans>